<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935493553650-jkkv450rqtqf24guf1p5d7v1blrposqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935493553650-jkkv450rqtqf24guf1p5d7v1blrposqm</string>
	<key>API_KEY</key>
	<string>AIzaSyCZK4W77QJHBGgAay4Uywcq0GsRpZaezG4</string>
	<key>GCM_SENDER_ID</key>
	<string>935493553650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelpproject</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-46ff6</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-46ff6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935493553650:ios:4a703da505c54ff3ffef6b</string>
</dict>
</plist>